body {
  margin: 0;
  padding: 0;
}
.viba1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}
.diva {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: #422057ff;
}
.viba2 p {
  font-family: sans-serif;
  padding-left: 30px;
  padding-right: 25px;
  color: grey;
  line-height: 2em;
}
.viba3 img {
  width: 330px;
  height: 360px;
}
@media (min-width: 1080px) {
  .viba1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
  .diva {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    padding-right: 500px;
    font-size: 45px;
    color: #422057ff;
    margin-top: 80px;
  }
  .viba2 p {
    text-align: left;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 65px;
    color: grey;
    font-size: 23px;
    line-height: 2.05em;
  }
  .viba3 img {
    height: 450px;
    width: 600px;
    margin-left: 60px;
  }
}
